
  .container {
    padding: 10px 50px;
    text-align: center;
  }
  
  .graphique {
    position: relative;
    display: inline-block;
    margin: 20px 10px;
    color: #fff;
    font-size: 14px;
    text-align: center;
  }
  /* ajouter trois styles différents pour chaque catéogie */  
  
  
  .graphique canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  